<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>DB에서 받아온 데이터</h1>
  <% for(let i = 0; i < log.lenght; i++) { %>
    <h3> ID : <%= log[0].아이디 %></h3>
    <h3> PW : <%= log[2].비밀번호 %></h3>
  <%}%> 
</body>
</html>