*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.slide-list {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  transition: all 300ms ease-in-out;
  background-color: #000;
}

.slide-item {
  width: 100%;
  height: 100%;
}

.slide-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-item p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: #fff;
  text-align: center;
  font-weight: 700;
  opacity: 0;
}

.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  color: #fff;
  opacity: 0.8;
}

#prev{
  left: 3rem;
}

#next{
  right: 3rem;
}

#dots {
  display: flex;
  position: absolute;
  bottom: 3rem;
  width: 100px;
  height: 30px;
  left: 50%;
  transform: translateX(-50%);
}

#dots div {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #fff;
  margin-right: 0.5rem;
}

#dots div:last-child {
  margin-right: 0;
}

#dots div.is-active{
  background-color: #fff;
}
