.list{
  list-style: none;
  display: flex;
  flex-direction: column;
  &__item{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    box-shadow: 0 0 0 1px skyblue;
    border-radius: 1rem;
    overflow: hidden;
    &.active {
      box-shadow: 0 0 0 3px blueviolet;
      .list__content{
        display: flex;
      }
      .list__btn .icon-up{
        transform: rotate(0deg);
      }
    }
  }
  &__btn{
    display: flex;
    justify-content: space-between;
    border: 0;
    padding: 1rem;
    background-color: #fff;
    cursor: pointer;
    transition: all 400ms ease-in-out;
    .icon-up {
      transform: rotate(180deg);
    }
    &:active{
      background-color: #ddd;
    }
  }
  &__content {
    display: none;
    padding: 1rem;
  }
}