* {
  padding: 0;
  margin: 0;
  font-family: 'Jua', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.wrapper {
  position: relative;
  min-width: 410px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: rgb(255, 204, 0);
}

nav > div {
  display: flex;
}

.lg-only {
  display: none;
}

.md-only {
  display: none;
}

.sm-hidden {
  display: none;
}

.bar , .search-icon {
  font-size: 30px;
}

.bar i {
  color: rgb(222, 0, 0);
}

.logo {
  display: flex;
}

.logo img {
  width: 100px;
}

.gnb-list {
  display: flex;
}

.search {
  position: relative;
}

.search i {
  font-size: 14px;
  position: absolute;
  top: 25%;
  left: 5%;
  color: gray;

}

#search {
  border: none;
  width: 150px;
  padding: 7px 0 7px 30px;
  font-size: 16px;
}

.user img {
  width: 30px;
  border-radius: 50%;
}

.lnb-list {
  display: flex;
  background-color: #fff;
}

.lnb-item {
  padding: 15px 10px;
  font-weight: bold;
}


.bg {
  height: 400px;
  background-image: url(./imgs/lego.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  height: 100vh;
  padding: 30px 20px;
  background-color: #fff;
  z-index: 200;
  overflow-y: auto;
  transform: translateX(-300px);
  transition: transform 300ms ease-in-out;
}

.sidebar.is-active {
  transform: translateX(0);
}

.sdbar-top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.sdbar-top img {
  width: 40px;
  padding: 0 10px;
}

.drawer-menu.is-open.is-product .drawer-menu-content {
  max-height: 288px;
}

.drawer-menu.is-open.is-brand .drawer-menu-content {
  max-height: 216px;
}

.drawer-menu.is-open.is-info .drawer-menu-content {
  max-height: 180px;
}

.drawer-menu.is-open .fa-chevron-down {
  transform: translateY(-50%) rotate(180deg);
}

.drawer-menu-button {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 18px;
  width: 100%;
  height: 54px;
  padding: 0 8px;
  font-weight: 700;
  border: none;
  background-color: transparent;
}

.drawer-menu-button i:first-child {
  margin-right: 8px;
  font-size: 24px;
  font-size: 20px;
}

.drawer-menu-button i:last-child {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  font-size: 14px;
  transition: transform 200ms ease-in-out;
}

.drawer-menu.is-active .drawer-menu-button i {
  color: rgb(255, 204, 0) ;
}

.drawer-menu-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 200ms ease-in-out;
}


.drawer-menu-item a {
  display: flex;
  align-items: center;
  font-size: 14px;
  width: 100%;
  height: 36px;
  padding: 0 12px;
  font-weight: 700;
}


.overlay {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(63,65,80,0.5);
  z-index: 10;
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.overlay.is-active {
  visibility: visible;
  opacity: 1;
}


@media screen and (min-width:768px) {

  .sm-only {
    display: none;
  }

  .sm-hidden {
    display: block;
  }

  .md-only {
    display: block;
  }

  nav {
    justify-content: space-between;
  }

  .logo img {
    width: 120px;
  }

  .gnb {
    flex-grow: 1;
  }

  .gnb-item {
    padding: 15px;
    font-weight: bold;
    font-size: 18px;
  }

  .search-icon , .user , .bag, .logout {
    font-size: 20px;
    margin-left: 10px;
  }

  .search-icon {
    margin-left: 0;
    margin-right: 20px;
  }

  .lnb-item {
    padding: 15px;
  }

  .bg {
    height: 500px;
  }

  
}

@media screen and (min-width:1200px) {

  .md-only {
    display: none;
  }

  .lg-only {
    display: block;
  }

  .logo img {
    width: 150px;
  }

  .gnb-item {
    padding: 20px;
    font-size: 22px;
  }

  .lnb-item {
    padding: 20px;
    font-size: 18px;
    margin-left: 20px;
  }

  .user img {
    width: 40px;
  }

  .bg {
    height: 600px;
  }
}