* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

.toggle-container{
  width: 100px;
  height: 48px;
  background-color: gray;
  display: block;
  border-radius: 48px;
  position: relative;
}

.toggle-container.active {
  background-color: chartreuse;
}

.toggle-container label {
  display: block;
  text-indent: -9999px;
  font-size: 0;
  width: 100%;
  height: 48px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 48px;
  z-index: 1;
}

.toggle-container input#toggle {
  display: none;
}

.toggle-container .switch {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: 50%;
  z-index: 0;
  transition: left 200ms ease-in-out;
}

input#toggle:checked + .switch {
  left: 54px;
}

