*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label{
  padding-left: 1.8rem;
  width: 30px;
  height: 30px;
  background-image: url(./imgs/pc_chcek_off_s_20.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

input[type=checkbox]:checked + label{
  padding-left: 1.8rem;
  width: 30px;
  height: 30px;
  background-image: url(./imgs/pc_chcek_on_s_20.png);
  background-repeat: no-repeat;
  background-position: center;

}

button {
  border: none;
  cursor: pointer;
}

.wrapper {
  width: 768px;
  margin: 0 auto;
  padding: 3rem 0;
}

header {
  width: 100%;
  text-align: center;
}

.logo {
  width: 100%;
  display: inline;
  margin-left: 87px ;
}

.logo img {
  width: 350px;
}

.lang {
  float: right;
  line-height: 72px;
}

.form {
  width: 500px;
  margin: 2rem auto;
}

.agreetxt {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  font-size: 1.3rem;
  font-weight: 700;

}

.text {
  width: 500px;
  height: 150px;
  overflow: scroll;
  border: 1px solid #ccc;
  padding: 1rem;
  color: #333;
  margin-bottom: 2rem;
}

.text p:first-child {
  margin-bottom: 1rem;
}

.check-txt {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  font-weight: 700;
}

span {
  font-size: 1rem;
  margin-left: 5px;
}

.green {
  color: #08A600;
}


.bottom {
  width: 500px;
  margin: 0 auto;
}

.alart {
  margin-bottom: 2rem;
  color: red;
visibility: hidden;}

.alart.active {
  visibility: visible;
}

.button {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.button button {
  padding: 1rem 6.5rem;
  background-color: #08A600;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
}