* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  text-align: center;
}

header, footer {
  padding: 30px 0;
  background-color: coral;
  color: #fff;
  font-size: 30px;
}

.bg-img {
  height: 600px;
  background-image: url(../imgs/marek-piwnicki-PPoWdNggYu8-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.box-list {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
}

.box-list div {
  width: 30%;
  height: 400px;
  border: 1px solid rgb(255, 29, 29);
}

/* 권장 breakpoint */
/* 1200px / 992px / 768ps / 576ps */
/* 1200px 이상 : Desktop D, L */
/* 1200 - 768px : Tablet T, M */
/* 768px 미만 : Moblie M, S */
@media screen and (max-width : 1200px) {
  header, footer {
    padding: 25px 0;
    background-color: rgb(145, 156, 255);
    color: #fff;
    font-size: 30px;
  }

  .bg-img {
    height: 400px;
    background-image: url(../imgs/mr-wang-Y-zq8A1G_dQ-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .box-list div {
    width: 30%;
    height: 300px;
    border: 1px solid rgb(26, 28, 114);
}