* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

.lg-hidden {
  display: none;
}

.global-header 
{ position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.gnb-log {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 30px 50px;
}

.gnb-log li a {
  margin-right: 1rem;
  font-size: 0.9rem;
  text-align: center;
}

.gnb-log li:last-child a {
  margin-right: 0;
}

.gnb-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.gnb-main-list {
  display: flex;
}

.gnb-main-item {
  position: relative;
}

.gnb-main-item a.active,
.gnb-main-item a:hover {
  color: darkblue;
}

.gnb-main-item > a {
  display: block;
  text-align: center;
  padding: 1rem;
  font-size: 1.1rem;
}

.gnb-main-item li a {
  display: block;
  text-align: center;
  padding: 1rem;
}

.sub {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  background-color: #fff;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  display: none;
}

.sub::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  background-color: darkblue;
}

.slide-wrapper {
  position: relative;
  overflow: hidden;
}

.slide-list {
  display: flex;
  width: 300vw;
  height: 600px;
}

.slide-list li {
  width: 100vw;
  height: 100%;
}

.slide-list li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-btn {
  position: absolute;
  display: flex;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  border-top: 1px solid #fff;
}

.slide-btn button {
  background-color: transparent;
  color: #fff;
  border: none;
}

.slide-btn button:hover,
.slide-btn li.active {
  color: yellow;
  cursor: pointer;
}

.slide-btn li:not(:last-child):after {
  content: "|";
  color: #aaa;
  margin: 0.5rem;
}













