* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

.lg-hidden {
  display: none;
}

.global-header 
{ position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.gnb-log {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 30px 50px;
}

.gnb-log li a {
  margin-right: 1rem;
  font-size: 0.9rem;
  text-align: center;
}

.gnb-log li:last-child a {
  margin-right: 0;
}

.gnb-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.gnb-main-list {
  display: flex;
}

.gnb-main-item {
  position: relative;
}

.gnb-main-item a.active,
.gnb-main-item a:hover {
  color: darkblue;
}

.gnb-main-item > a {
  display: block;
  text-align: center;
  padding: 1rem;
  font-size: 1.1rem;
}

.gnb-main-item li a {
  display: block;
  text-align: center;
  padding: 1rem;
}

.sub {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  background-color: #fff;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  display: none;
}

.sub::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  background-color: darkblue;
}

.slide-wrapper {
  position: relative;
  overflow: hidden;
}

.slide-list {
  display: flex;
  width: 300vw;
  height: 600px;
}

.slide-list li {
  width: 100vw;
  height: 100%;
}

.slide-list li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-btn {
  position: absolute;
  display: flex;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  border-top: 1px solid #fff;
}

.slide-btn button {
  background-color: transparent;
  color: #fff;
  border: none;
}

.slide-btn button:hover,
.slide-btn li.active {
  color: yellow;
  cursor: pointer;
}

.slide-btn li:not(:last-child):after {
  content: "|";
  color: #aaa;
  margin: 0.5rem;
}

footer {
  margin-top: 60px;
  color: #aaa;
}

.ft-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #414244;
  padding: 0 1rem;
}

.ft-top a {
  color: #aaa;
}

.ft-left {
  display: flex;
}

.ft-left li a {
  display: block;
  padding: 20px;
  font-size: 18px;
  border-left: 1px solid #727272;
}

.ft-left li:last-child a {
  border-right: 1px solid #727272;
}

.ft-left li:nth-child(2) a {
  color: #fff;
  font-weight: 700;
}

.ft-right {
  display: flex;
  justify-content: space-between;
  width: 360px;
}

.ft-right p span:first-child {
  font-size: 1.1rem;
  color: #fff;
}

.ft-bottom {
  background-color: #2d2d30;
  padding: 50px 40px;
}

.ft-bottom img {
  opacity: 0.5;
}

.ft-info {
  display: flex;
  margin-top: 30px;
}

.ft-info li:not(:first-child):before {
  content: "/";
  margin: 0 1rem;
}

.ft-bottom p {
  margin-top: 10px;
}


@media screen and (max-width:1200px) {
  .lg-hidden {
    display: block;
  }

  .lg-only {
    display: none;
  }

  .gnb-log {
    padding: 20px 30px;
  }
  
  .gnb-log li a {
    font-size: 1rem;
  }
  
  .gnb-main {
    padding: 10px 30px
  }

    
  .gnb-op-btn {
    background-color: transparent;
    border: none;
    padding: 1rem;
    cursor: pointer;
 }

 .side-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 200px;
  transform: translateX(-300px);
  text-align: center;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 20px 30px;
  z-index: 15;
  transition: transform 300ms ease-in-out;
 }

 .side-bar.active {
  transform: translateX(0);
 }

 .side-bar-btn {
  float: right;
  border: none;
  font-size: 1.2rem;
  background-color: transparent;
  cursor: pointer;
  padding: 1rem 0;
 }


 .side-bar-list {
  clear: both;
 }

 .side-bar-item a {
  display: block;
  padding: 1rem;
  border-top: 1px solid #aaa;
 }

 .side-bar-item:last-child a {
  border-bottom: 1px solid #aaa;
 }

}












