.post-card-list {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.post-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  height: 300px;
  padding: 20px;
  border-radius: 20px;
  background-color: black;
  color: #fff;
  margin: 30px;
  box-shadow: 5px 5px #999;
}