

.box div {
  width: 100px;
  height: 100px;
  border: 2px solid red;
}

.left-float div {
  float: left;
}
/* inline, block, inline-block 차이점

1. block요소는 가로 100%를 차지, 가로 세로 크기 지정 가능 (수직정렬)
2. inline-block은 inline처럼 본인이 가진 콘텐츠 크기만큼만
   가로사이즈를 차지, 가로 세로 크기 지정 가능 (수평정렬)
3. inline은 본인이 가진 콘텐츠 크기만큼만 가로 사이즈를 차지,
   가로 세로 크기 지정이 안된다 (수평정렬)   


*/
.clear {
  clear: both;
}

.left-inline div {
  display: inline-block;
}

.left-flex {
  display: flex;
}