

.box div {
  width: 100px;
  height: 100px;
  border: 2px solid red;
}

.left-float div {
  float: left;
}
/* inline, block, inline-block 차이점

1. block요소는 가로 100%를 차지, 가로 세로 크기 지정 가능 (수직정렬)
2. inline-block은 inline처럼 본인이 가진 콘텐츠 크기만큼만
   가로사이즈를 차지, 가로 세로 크기 지정 가능 (수평정렬)
3. inline은 본인이 가진 콘텐츠 크기만큼만 가로 사이즈를 차지,
   가로 세로 크기 지정이 안된다 (수평정렬)   


*/
.clear {
  clear: both;
}

.left-inline div {
  display: inline-block;
}

.left-flex {
  display: flex;
}

.right-float div {
  float: right;
}

.right-float div div {
  float: left;
}

.right-inline  {
  text-align: right;
}

/* text-align : 문단을 수평으로 정렬하는 속성 */
/* block요소 안에 있는 inline요소를 정렬한다 */
/* text를 정렬할 때는 부모가 아닌 자기자신에게 적용 가능 */
.right-inline div {
  display: inline-block;
  text-align: left;
}

.right-flex {
  display: flex;
  justify-content: right;
}

.right-flex div {
  text-align: left;
}

.center-float {
  width: 300px;
  margin: 0 auto;
}

.center-float div {
  float: left;
  box-sizing: border-box;
  /* 내가 지정한 박스 사이즈에 border까지 포함시킨 값 */
  border: 30px solid blue;
}

.center-inline {
  text-align: center;
}

.center-inline div {
  display: inline-block;
  text-align: left;
}

.center-flex {
  display: flex;
  justify-content: center;
}