* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
}

header {
  width: 100%;
}

nav {
  /* flexible box : 유연하게 적용되는 박스 */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(24, 24, 24);
  padding: 10px 40px;
}

.logo img {
  width: 50px;
}

.gnb-item {
  display: flex;
  width: 300px;
  justify-content: space-between;
}

.gnb-item a {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.gnb-item a:hover {
  color: darkcyan;
}