*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bg: #fafafa;
  --box-bg: #fff;
  --box-border-color: #dbdbdb;
  --txt-color: #262626;
  --txt-second-color: #8e8e8e;
  --btn-bg: #0095f6;
  --btn-color: #fff;
  --fb-color: #385185;
  --a-color: #00376b;
}

.dark {
  --body-bg: #151515;
  --box-bg: #151515;
  --box-border-color: #262626;
  --txt-color: #d2d2d2;
}

body {
  background-color: var(--body-bg);
  color: var(--txt-color);
}

