* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  height: 60px;
  background-color: skyblue;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  margin: 0 25px;
}

.gnb {
  display: flex;
  justify-content: space-around;
  width: 300px;
}

.gnb-list a {
  color: #fff;
  font-weight: 700;
}

.gnb-list:hover a {
  color: #000;
}

header img {
  width: 40px;
}

.bg {
  height: 600px;
  background-image: url(../imgs/background.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  color: #fff;
  text-align: center;
}

.bg-title {
  font-size: 60px;
}

.bg-content {
  font-size: 18px;
  margin-top: 30px;
}

.bg-btn button {
  border: 1px solid #aaa;
  border-radius: 10px;
  padding: 10px;
  background-color: #fff;
  margin-top: 20px;
}

.txt-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -100px;
}

.txt-box-list {
  background-color: rgb(217, 241, 254);
  border-radius: 10px;
  width: 500px;
  padding: 30px 50px;
  text-align: center;
  margin-top: 30px;
}

.txt-box-list p {
  margin-top: 20px;
}

.sdbar {
  position: fixed;
  top: 150px;
  right: 15px;
  width: 200px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 5px 5px 2px #919191;

}
.sd-menu {
  text-align: center;
  padding: 20px;
}

.sd-menu a {
  color: black;
}

.sd-menu:hover {
  background-color: skyblue;
}

.sd-menu:hover a {
  color: #fff;
}

.sd-menu:hover:first-child {
  background-color: skyblue;
  border-radius: 10px 10px 0 0;
}

.sd-menu:hover:last-child {
  background-color: skyblue;
  border-radius: 0 0 10px 10px;
}


.scroll {
  margin-top: 30px;
}

.img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  background-color: rgb(217, 241, 254);
}

.img {
  width: 800px;
  height: 500px;
  background-color: #fff;
  background-image: url(../imgs/icecream.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
  background-attachment: fixed;
}

.arrow {
  position: fixed;
  bottom: 70px;
  right: 20px;
}

.arrow i {
  font-size: 30px;
  color: darkcyan;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: skyblue;
}

footer h3 {
  margin-left: 50px;
  color: #fff;
}

footer ul {
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin-right: 50px;
}

.ft-list:hover i {
  color:#000;
}

i {
  font-size: 30px;
  color: #fff;
}