* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
}

header {
  width: 100%;
}

nav {
  /* flexible box : 유연하게 적용되는 박스 */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(24, 24, 24);
  padding: 10px 40px;
}

.logo img {
  width: 50px;
}

.gnb-item {
  display: flex;
  width: 300px;
  justify-content: space-between;
}

.gnb-item a {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.gnb-item a:hover {
  color: darkcyan;
}


.bg {
  height: 600px;
  /* backgrounㅠd-image 속성을 사용할때는
     background-repeat, position, size 속성을
     항상 함께 사용한다
   */
  background-image: url('../imgs/back.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: object-fit 처럼 배경이미지의 사이즈를 결정
  기본값이 auto로 적용됨 */
  /* contain, cover, px, % */
  background-size: cover;
}

.bg-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  color: #fff;
}

.bg-title {
  font-size: 36px;
}

.bg-content {
  width: 80%;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  margin-top: 30px;
}

.bg-btn {
  padding: 20px;
  margin-top: 30px;
  border-radius: 20px;
  /* button 태그는 boder 속성을 기본으로 지님 */
  border: none;
  font-weight: bold;
}

.first-box {
  margin-top: -60px;
}

.first-box div {
  margin: 0 auto;
  text-align: center;
  box-shadow: 5px 5px 8px #131313;
  width: 550px;
  padding: 60px 0;
  background-color: #000;
  border-radius: 20px;
  color: #fff;
} 
/* box-shadow */
/* offset-x축(수평) | offset-y축(수직) | color*/
/* offset-x축 | offset-y축 | blur-radius | color*/
/* offset-x축 | offset-y축 | blur-radius | spread-radius | color*/

.first-box p {
  margin-top: 30px;
}

.post-box-list {
  display: flex;
  margin-top: 80px;
  justify-content: center;
}

.post-box-item {
  width: 250px;
  padding: 80px 20px;
  margin-right: 50px;
  text-align: center;
  background-color: #000;
  box-shadow: 5px 5px #444444;
  border-radius: 20px;
  color: #fff;
}

.post-box-item:last-child {
  margin-right: 0;
} 

.post-box-item p {
  font-size: 18px;
  margin-top: 30px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #333;
  margin-top: 80px;
}

footer h3 {
  margin-left: 80px;
  color: #fff;
}

.ft-list {
  display: flex;
  width: 300px;
  justify-content: space-around;
  margin-right: 30px;
}

.ft-list li {
  padding: 20px;
}

.ft-list a {
  color: #fff;
  font-weight: 700;
}

@media screen and (max-width:1200px) {

  .post-box-list {
    flex-direction: column;
    align-items: center;
  }

  .post-box-item {
    width: 70%;
    margin-top : 30px;
    margin-right: 0;
  }

}

@media screen and (max-width:768px) {

  .gnb-item {
  width: 200px;
}

  .bg {
    height: 400px;
  }

  .bg-title {
    font-size: 30px;
  }

  .bg-content {
    font-size: 18px;
  }

  .first-box div {
    width: 70%;
    padding: 80px 20px;
  }

  .bg-txt {
    height: 400px;
  }

  .bg-btn {
    margin-top: 20px;
    padding: 8px 16px;
    border-radius: 10px;
  }

  .first-box {
    margin-top: -30px;
  }

  .post-box-list {
    margin-top: 0;
  }

  footer {
    margin-top: 50px;
  }

  .ft-list {
    width: 250px;
  }

}