* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

/* .wrapper {
  position: relative;
}

.slide-wrapper {
  width: 600px;
  height: 450px;
  overflow: hidden;
  margin: 0 auto;
}

.slide-list {
  display: flex;
  width: 2400px;
  height: 450px;
  transition: transform 1s;
}

.slide-list li {
  width: 600px;
  height: 100%;
}

.slide-list li img {
  width: 600px;
  height: 450px;
  object-fit: cover;
}

.btn-group button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
}

.prev {
  left: 30px;
}

.next {
  right: 30px;
} */