* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  padding: 3rem;
}

.overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  padding: 2rem 4rem;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
  z-index: 20;
  display: none;
}

.bg-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
}

.overlay.show{
  display: block;
}

.bg-overlay.show{
  display: block;
}