
li {
  list-style: none;
}

.wrapper {
  width: 1200px;
  display: flex;
}

.slider {
    width: 400px;
    height: 400px;
}

.slider img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.slick-list {
  width: 400px;
  height: 400px;
}

.slick-dots li {
  width: auto;
  z-index: 100;
}

.slick-active a {
  background-color: aquamarine;
  border-radius: 20px;
}

.pager__item {
  padding: 0 12px;
  display: inline-block;
  font-weight: 700;
}

.slick-dots {
    bottom: -40px;
}

.map {
  position: relative;
  height: 700px;
}

.slick-dots li:first-child{
  position: absolute;
  top: 335px;
  right: -280px;
}

.map {
  height: 700px;
}

.map img {
  height: 700px;
}