* {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

html,body,.wrapper {
  height: 100%;
}

header {
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 95%;
}

nav h1 img {
  width: 70px;
}

nav ul {
  display: flex;
}

.item-list {
  padding: 40px 20px;
}

.item-list a {
  color: #000;
  font-weight: 700;
}

.check-menu {
  display: none;
}

.gnb-list2 {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  height: 100%;
  background-color: #fff;
  text-align: center;
  z-index: 1;
  padding-top: 80px;
}

.check-menu i {
  font-size: 20px;
}

/* header css */

.under-menu {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  background-color: rgb(255, 34, 34);
  border-top: 3px solid yellow;
}

.menu-list {
  padding: 25px;
}

.menu-list a {
  color: #fff;
}


.scroll-bg {
  height: 500px;
  background-image: url(./imgs/back.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}


.items {
  width: 70%;
  margin: 50px auto;
}

.line {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.box {
  display: inline-block;
  max-width: 280px;
  border-radius: 10px;
  box-shadow: 2px 2px 3px #ccc;
  margin-right: 20px;
}

.box:last-child {
  margin-right: 0;
}

.box p {
  text-align: center;
  font-weight: 700;
  padding: 20px 30px;
}

.item {
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px 10px 0 0;
}

.fir {
  background-image: url(./imgs/food.jpeg);
}

.sec {
  background-image: url(./imgs/food2.jpeg);
}

.thir {
  background-image: url(./imgs/food3.jpeg);
}

.btns {
  border-top: 3px solid yellow;
  padding: 20px 0;
}

.btns-img {
  width: 550px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.btns-img li img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.btns-name {
  width: 550px;
  display: flex;
  justify-content: space-between;
  margin: 5px auto;
}

.btns-name li {
  text-align: center;
  width: 150px;
  color: #000;
}

footer {
  background-color: rgb(255, 34, 34);
}

footer ul a {
  color: #fff;
}

footer ul {
  padding: 20px;
}

footer ul li a:hover {
  color: yellow;
}

.ft {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.contact {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.contact i {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: rgb(255, 34, 34) ;
  font-size: 25px;
  background-color: #fff;
  padding: 15px;
  border-radius: 50%;
  margin-right: 15px;
}

.contact li:last-child i {
  margin-right: 0;
}

@media screen and (max-width:1200px) {

  nav h1 img {
    width: 50px;
  }

  .gnb-list {
    display: none;
  }

  .check-menu {
    display: block;
  }
 
 #check-menu {
  display: none;
}

 #check-menu:checked .gnb-list2 { 
  display: block;} 


  .under-menu {
    justify-content: center;
  }

  .menu-list {
  padding: 20px;
  }

  .scroll-bg {
    height: 400px;
  }

  .line {
    display: block;
  }

  .box {
    max-width: 80%;
    display: block;
    margin-right: 0;
    margin: 30px auto;
  }

  .box:last-child {
    margin: 0 auto;
  }

  .box p {
    max-width: 50%;
    margin: 0 auto;
  }

  .btns {
    padding: 10px 0;
  }

  .btns-img {
    width: 70% ;
  }

  .btns-img li img {
    width: 80px;
    height: 80px;
  }

  .btns-name {
    width: 70%;
    justify-content: space-between;
  }

  .btns-name li {
    width: 80px;
  }

  footer ul {
    padding: 15px;
  }
  
  .ft {
    display: block;
  }

  .list1 {
    float: left;
  }

  .list2 {
    float: right;
  }
  
  .contact {
    clear: both;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contact i {
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 20px;
    padding: 15px;
  }


}

@media screen and (max-width:768px) {

  .wrapper {
    min-width: 450px;
  }

  .scroll-bg {
    height: 250px;
  }

  .items {
    width: 90%;
    margin: 30px auto;
  }

  .box {
    min-width: 400px
  }

  .btns-img {
    width: 60% ;
  }

  .btns-img li img {
    width: 60px;
    height: 60px;
  }

  .btns-name {
    width: 60%;
    justify-content: space-between;
  }

  .btns-name li {
    width: 60px;
  }

  .btns-name li {
    font-size: 12px;
  }

  footer ul {
    padding: 0;
  }

  .list1 {
    clear: both;
    margin-top: 20px;
  }

  .list2 {
    clear: both;
    text-align: right;
  }
  
  .contact {
    padding: 20px 0;
  }


}
