* {
  font-family: 'Merriweather', sans-serif;
}

.main-box {
  /* position: relative; */
  width: 500px;
  height: 800px;
  margin: 0 auto;
  border: 3px solid darkblue;
}

.main-box div {
  width: 200px;
  height: 100px;
  border: 1px solid #000;
  text-align: center;
  /* 박스 내에서 텍스트를 수직 중앙에 배치시키기 위해 사용 */
  line-height: 100px;
}

.red {
  /* position: relative;
  top: 30px;
  left: 30px; */
  background-color: red;
}

.yellow {
  /* position: fixed; */
  top: 50px;
  right: 50px;
  /* z-index : position을 가지고 있을 때 누가 앞에 오고 뒤에 올건지
     순서를 정해주는 속성 | 숫자가 클수록 앞으로 배치됨 */
  z-index: 10;
  background-color: yellow;
}

.green {
  position: absolute;
  top: 30px;
  left: 30px;
  background-color: yellowgreen;
}

.img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  background-color: blueviolet;
}

.img {
  width: 500px;
  height: 500px;
  background-color: #fff;
  background-image: url(../imgs/cute-cat-wearing-christmas-hat-and-scarf-6742830-5558417.webp);
  background-repeat: no-repeat ;
  background-position: center;
  background-attachment: fixed;
  /* background-attachment: 배경이미지의 스크롤 여부를 결정  */
  
}

.scroll {
  height: 1000px;
}