*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  background-color: transparent;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  background-color: #ccc;
  padding: 1rem 2rem;
  transition: all 300ms ease-in-out;
}

.logo img {
  width: 80px;
}

button i {
  font-size: 2rem;
}

.bar {
  position: fixed;
  top : 118px;
  left: 0;
  right: 0;
  height: 5px;
  background-color: darkblue;
}

.box {
  height: 3000px;
  background-color: cadetblue;
}

.lorem {
  margin: 0 auto;
  width: 500px;
  height: 300px;
  overflow-y: scroll;
}

