.slick-test{
  width: 650px;
  overflow: hidden;
  outline: 1px solid blue;
}
.slick-test .slick-list{
  margin: 0 -10px;
}
.slick-test .slick-slide{
  height: 400px;
  margin: 0 10px;
  background: skyblue;
}

.slick-list .draggable {
  position: relative;
}

.play {
  position: absolute;
  padding: 10px;
  top: 350px;
  left: 600px;
}

.stop {
  position: absolute;
  padding: 10px;
  top: 350px;
  left: 540px;
}