body {
  background-color: aquamarine;
}

.slide-list {
  width: 600px;
  height: 450px;
  margin: 0 auto;
  border: 10px solid #fff;
}

.slick-list.draggable {
  position: absolute;
  top: -10px;
  left: -10px;
  z-index : -10;
}

.slide-list img {
  width: 600px;
  height: 450px;
  object-fit: cover;
}

.slick-next {
  right : -40px
}

.slick-prev {
  left: -40px;
}



