*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

.tab-list {
  display: flex;
  margin: 3rem 3rem 0 3rem;
}

.tab-item {
  padding: 1rem 2rem;
  color: #ccc;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

.tab-item.is-active {
  border-top: 4px solid darkcyan;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #fff;
  color: black;
  z-index: 10;
}

.tab-content {
  position: absolute;
  margin-left: 3rem;
  padding: 1rem;
  display: none;
  margin-top: -1px;
  width: 90%;
  border-top: 1px solid #ccc;
}


.tab-content.is-active {
  display: block;
}