* {
  padding: 0;
  margin: 0;
}

.alert {
  display: none;
  background-color:skyblue;
  padding: 20px 0;
  margin: 10px 10px 0 10px;
  border-radius: 10px;
}

.alert p {
  color: #fff;
  margin-left: 20px;
  flex-grow: 1;
}

#close-btn {
  margin-right: 20px;
  padding: 5px;
}

#open-btn{
  margin : 5px 0 0 10px;
  padding: 5px;
}