* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #333;
}

.global-header {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.logo img {
  width: 240px;
}

.join-box-list {
  max-width: 468px;
  margin: 0 auto;
}

.join-box-item {
  margin-bottom: 20px;
}

.inputbox {
  display: flex;
  align-items: center;
  height: 52px;
  margin-top: 10px;
  padding: 10px 12px;
  background-color: #fff;
  border: 1px solid #dadada;
  cursor: pointer;
}

.inputbox input {
  width: 80%;
  height: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
}

.inputbox div {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.inputbox p {
  margin-right: 5px;
}

.inputbox img {
  height: 24px;
}

.three-box {
  display: flex;
  justify-content: space-between;
}

.three-box .inputbox {
  width: calc((100% - 20px) / 3);
}

.inputbox select {
  width: 100%;
  font-size: 18px;
  color: #777;
  border: none;
  outline: none;
}

.gender .inputbox {
  display: flex;
  justify-content: center;
}

.gender input[type="radio"] {
  display: none;
}

.phonenum,
.postnum {
  display: flex;
  align-items: center;
}

.phonenum .inputbox,
.postnum .inputbox {
  width: calc(100% - 120px);
  margin-right: 5px;
}

.phonenum button,
.postnum button {
  width: 115px;
  height: 52px;
  margin-top: 10px;
}

.disinput,
.disinput input {
  cursor: not-allowed;
  background-color: #f7f7f7;
}

/* JS에서 인증번호 불일치 X 아이콘 */
.disagree {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 5px;
}

.disagree::before,
.disagree::after {
  content: '';
  position: absolute;
  display: block;
  width: 20px;
  height: 2px;
  background-color: red;
  left: 50%;
  top: 50%;
}

.disagree::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.disagree::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

#joinbtn {
  width: 100%;
  height: 58px;
  font-size: 18px;
}

.btn-primary {
  color: #fff;
  background-color: #03c75a;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.text-secondary {
  color: #8e8e8e;
}

.text-red {
  color: red;
}

.text-green {
  color: #08a600;
}

.border-red {
  border-color: red;
}

.border-act {
  border-color: #03c75a
}

.warn {
  margin: 15px 0;
}