* {
  padding: 0;
  margin: 0;
}

.alert-box {
  display: none;
  justify-content: space-between;
  padding: 20px;
  border-radius: 5px;
  background-color: skyblue;
  box-sizing: border-box;
}

.alert p {
  color: #fff;
  margin-left: 20px;
}

#close-btn {
  margin-right: 20px;
  padding: 5px;
}

#open-btn{
  margin : 5px 0 0 10px;
  padding: 5px;
}