/* :root {
  --size: 36px
} */



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  width: 100%;
  height: 100%;
}

#app {
  width: 100vw;
  height: 100vh;
  background-color: salmon;
}

.pointer {
  --size: 36px
  position: fixed;
  top: 0;
  left: 0;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  border: 1px solid #fff;
}