* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  width: 100%;
  height: 100%;
}

#app {
  width: 100vw;
  height: 100vh;
  background-color: aquamarine;
}


.page {
  display: flex;
  position: fixed;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-position: center center;
  visibility: hidden;
}

.page.active {
  visibility: visible;
  opacity: 1;
}


.page:first-child {
  background-image: url(./imgs/bird1.jpg);
}

.page:nth-child(2) {
  background-image: url(./imgs/bird2.jpg);
}

.page:nth-child(3) {
  background-image: url(./imgs/bird3.jpg);
}

.page:last-child {
  background-image: url(./imgs/bird1.jpg);
}

.page::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(-180deg,transparent,black );
}

.content {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 5rem;
  opacity: 0;
  color: #fff;
  z-index: 10;

}

.page.active .content {
  opacity: 0;
  animation: slide 500ms linear 500ms forwards;
}

.nav {
  position: fixed;
  display: flex;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  /* padding: 1rem; */
  border-radius: 0.5rem;
  overflow: hidden;
}

.button {
  border: 0;
  background-color: transparent;
  padding: 1rem;
  cursor: pointer;
}

.button:active {
  background-color: rgb(82, 82, 82);
  color: #fff;
}

.button.active {
  background-color: black;
  color: #fff;
}

@keyframes slide {
  0% {opacity:0;
      transform: translateY(100px);}
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}





