* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #000;
  color: #fff;
}

.card {
  width: 500px;
  height: 300px;
  cursor: pointer;
  perspective : 1500px;
}


.card-inner {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 2000ms;
  width: 100%;
  height: 100%;
}

.card:hover .card-inner{
  transform: rotateY(-180deg);
}

.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px 30px;
  background : linear-gradient(45deg, #0045c7, #ff2c7d);
  border-radius: 15px;
  /* 뒤집어진 뒷면을 보여줄지, 숨길지 결정
    visible / hidden
  */
  backface-visibility: hidden;
  z-index: 1;
}

.back {
  transform: rotateY(180deg);
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.map-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  z-index: -1;
}

.chip-img {
  width: 60px;
}

.logo-img {
  width: 80px;
}

.card-num {
  font-size: 35px;
  margin-top: 60px;
}

.card-holder {
  font-size: 14px;
  margin-top: 40px;
}

.card-name {
  font-size: 22px;
  margin-top: 10px;
}

.bar {
  height: 60px;
  background-color: #222;
  margin-left: -30px;
  margin-right: -30px ;
}

.card-cvv {
  margin-top: 20px;
}

.card-cvv p {
  padding: 10px;
  background-color: #fff;
  color: #000;
  font-size: 22px;
}

.card-cvv img {
  height: 50px;
  flex-grow: 1;
}

.card-text {
  font-size: 14px;
  margin-top: 30px;
}

.card-sig {
  font-size: 20px;
  margin-top: 30px;
}